Server/XmlSchemas/AerodromeSTARs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aerodromes" type="aerodromesType"/>
  <xs:complexType name="transitionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code" use="required"/>
        <xs:attribute type="xs:string" name="runway" use="optional"/>
        <xs:attribute type="xs:string" name="aircraft-type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="starType" mixed="true">
    <xs:sequence>
      <xs:element type="transitionType" name="transition" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="code" use="required"/>
    <xs:attribute type="xs:string" name="runway" use="required"/>
    <xs:attribute type="xs:string" name="waypoint" use="required"/>
    <xs:attribute type="xs:string" name="aircraft-type" use="required"/>
  </xs:complexType>
  <xs:complexType name="aerodromeType">
    <xs:sequence>
      <xs:element type="starType" name="star" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="code" use="optional"/>
  </xs:complexType>
  <xs:complexType name="aerodromesType">
    <xs:sequence>
      <xs:element type="aerodromeType" name="aerodrome" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>