Server/XmlSchemas/Navaids.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="navaids" type="navaidsType"/>
  <xs:complexType name="locationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="lat" use="required"/>
        <xs:attribute type="xs:string" name="long" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="navaidType">
    <xs:sequence>
      <xs:element type="locationType" name="location"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="code" use="required"/>
  </xs:complexType>
  <xs:complexType name="navaidsType">
    <xs:sequence>
      <xs:element type="navaidType" name="navaid" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>